---
// Assets
import Kicker from "@/components/assets/Kicker.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const data = [
  {
    title: "Foreigner Identity Number (NIE)",
    subtitle:
      "Tax identification number assigned to every foreigner who carries out an economic or profesional activity in Spain, regardless of their lenght of stay. Is permanent and necessary for administrative procedures.",
  },
  {
    title: "TIE",
    subtitle:
      "The Foreigner Identity Card for Non-EU citizens. The TIE expires and requires renewal.",
  },
  {
    title: "Private Health Insurance",
    subtitle:
      "It is a requirement for the student visa and the TIE (Foreign National Identity Card).",
  },
  {
    title: "Empadronamiento Certificate",
    subtitle:
      "It is a registration process in the City Hall. This is mandatory if your stay exceeds 3 or 6 months. It is necessary, for example, to apply for a TIE (Foreigners Identity Card).",
  },
  {
    title: "Deadlines",
    subtitle:
      "The TIE must be requested within 30 calendar days of entering Spain.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-8">
    <div class="p-8 lg:p-20 bg-blue-100">
      <div
        class="grid gap-4 lg:gap-8 grid-cols-1 lg:grid-cols-3 lg:items-start"
      >
        <div class="text-balance lg:sticky lg:top-24 lg:order-last">
          <div>
            <Kicker
              number="02"
              text="NIE & TIE"
              colorClass="text-base-900"
            />
            <Text
              tag="h2"
              variant="textXL"
              class="text-accent-950 font-display font-medium mt-12"
            >
              Documentation To Live In Madrid
            </Text>
          </div>
          <Text tag="p" variant="textSM" class="mt-2 text-base-600">
            If You Will Be Living In Madrid As A Student You Might Need This
          </Text>
        </div>
        <div
          class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-1 lg:col-span-2 divide-y divide-blue-200"
        >
          {
            data.map((item) => (
              <div>
                <div class="relative flex flex-col justify-start  pb-8 grid grid-cols-1 gap-2 ">
                  <Text
                    tag="h3"
                    variant="textLG"
                    class=" text-base-900 font-display tracking-tight"
                  >
                    {item.title}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class=" text-base-900/60 text-balance "
                  >
                    {item.subtitle}
                  </Text>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </Wrapper>
</section>
