---

// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <section class="pt-24">
  <Wrapper variant="standard" class="pb-12">
    <div class="max-w-2xl mx-auto">
      <Text
        tag="h2"
        variant="displaySM"
        class="text-accent-950 uppercase font-display font-medium"
      >
        Your child's firsts months in Madrid, handled with care
      </Text>

      <Text tag="p" variant="textBase" class="text-base-500 mt-12">
        Your children have grown up and decided to come to Spain to study. I'm not
        going to say "I can imagine how you fell" because the truth is: I have no idea
        what it should be like, my children are still 2 and 7 years old.
      
        <br /><br />
        I don't want to get sentimental, but I guess your world falls apart when you 
        think about how far away they will be from you. Add to that another language,
        unfamiliar bureaucracy — and often very little local guidance. What if I told you  
        that the only thing you have to worry about is coming to visit your loved ones?

        <br /><br />
        My wife and I have created Madrid Landing Kit to help american students handle the 
        practical side of moving to Spain, while giving parents the reassurance that nothing 
        important is being overlooked.
        <br /><br />
        Sending your child to study abroad is a big decision. New language, new
        systems, unfamiliar bureaucracy — and often very little local guidance.
        Madrid Landing Kit was created to help american students handle the 
        practical side of moving to Spain, while giving parents the reassurance
        that nothing important is being overlooked.
        Madrid is an incredibly welcoming, safe, and sun-drenched
        city, but the administrative "landing" requires a specific order of operations.
      </Text>
     
    </div>
  </Wrapper>
</section>
